# Apex Technical Authority .gitignore for React Native Projects

# Node.js and React Native
node_modules/
.jest/
.react/

# Android
android/.idea/
android/.gradle/
android/app/build/
android/app/debug.keystore
android/app/src/main/res/. DS_Store

# iOS
ios/Pods/
ios/.symlinks/
ios/typings/
ios/build/
ios/xcuserdata/

# General
.gitignore
.DS_Store
.env
.env.example
coverage/
build/

# IDEs and Editors
*.iml
*.vscode/
*.idea/
*.sublime-text*
*.atom/
tmp/

# Logs and tmp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lint and format
lint-staged.config.js
.prettierignore
.prettierrc.json
