# Ignore Node.js modules and build artifacts
node_modules/
dist/
build/
.env
.env.*
!.env.example

# Ignore macOS specific files
.DS_Store

# Ignore Windows specific files
nthumb.db

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp

# Ignore Expo specific files
.expo/

# Ignore temporary files and logs
*.log
temp/
*.tmp

# Ignore testing artifacts
coverage/
*.log

# Ignore specific Node.js/npm/yarn files
package-lock.json
yarn.lock
.npm

# Ignore MongoDB
db.js
*.dat
*.log

# Ignore other common ignores for JS/React Native
android/app/build/
android/build/
iOS/build/

# Ignore sensitive configuration files that should not be committed
credentials.json
secrets.json